body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("https://cdn.vectorstock.com/i/preview-1x/72/56/isometric-cubes-seamlessly-repeatable-pattern-3d-vector-10197256.webp");
  background-size: 20%;
}
